@font-face{
  font-family: 'Jaune';
  src: url(../fonts/jaunedoeuf_regular.ttf);
}
@font-face{
  font-family: 'Changa-Semibold';
  src: url(../fonts/Changa-SemiBold.ttf);
}
html, body {
  font-family: 'Jaune';
  height: 100%;
  width: 100%;
  color: #4b4264;
}
#container{
  margin-left: 700px;
}
h1{
  font-family: 'Changa-Semibold';
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color:#d57162;
  margin-top: 10px;
  font-family: 'Jaune';
}
.rectangle2{
  height: 100%;
  width: 40%;
  background-color: #fbf3db;
}
#container2{
  margin-left: 20%;
  margin-bottom: 10%;
  margin-top: 10%;
}
