{% extends 'study/header.html' %}


{% block content %}
{% load static %}
<link href="{% static 'home/home.css' %}" rel="stylesheet" type="text/css" />
    <body>
        
        <section id="rocket">
            <div class="rocket">
                <div class="rocket-body">
                    <div class="body"></div>
                    <div class="fin fin-left"></div>
                    <div class="fin fin-right"></div>
                    <div class="window"></div>
                </div>
                <div class="exhaust-flame"></div>
                <ul class="exhaust-fumes">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </section>
        <h1>LEVEL UP <br> YOUR STUDY GAME!</h1>
    </body>
    
{% endblock %}